<a href="https://colab.research.google.com/github/VitorH21/Inteligencia-Artificial/blob/master/AtividadeIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="https://colab.research.google.com/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>Welcome to Colaboratory!</h1>


Colaboratory is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud.

With Colaboratory you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

In [0]:
#@title Introducing Colaboratory
#@markdown This 3-minute video gives an overview of the key features of Colaboratory:
from IPython.display import YouTubeVideo
YouTubeVideo('inN8seMm7UI', width=600, height=400)

## Getting Started

The document you are reading is a  [Jupyter notebook](https://jupyter.org/), hosted in Colaboratory. It is not a static page, but an interactive environment that lets you write and execute code in Python and other languages.

For example, here is a **code cell** with a short Python script that computes a value, stores it in a variable, and prints the result:

In [0]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

To execute the code in the above cell, select it with a click and then either press the ▷ button to the left of the code, or use the keyboard shortcut "⌘/Ctrl+Enter".

All cells modify the same global state, so variables that you define by executing a cell can be used in other cells:

In [0]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

For more information about working with Colaboratory notebooks, see [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb).

## More Resources

Learn how to make the most of Python, Jupyter, Colaboratory, and related tools with these resources:

### Working with Notebooks in Colaboratory
- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Guide to Markdown](/notebooks/markdown_guide.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Saving and loading notebooks in GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
- [Interactive forms](/notebooks/forms.ipynb)
- [Interactive widgets](/notebooks/widgets.ipynb)

### Working with Data
- [Loading data: Drive, Sheets, and Google Cloud Storage](/notebooks/io.ipynb) 
- [Charts: visualizing data](/notebooks/charts.ipynb)
- [Getting started with BigQuery](/notebooks/bigquery.ipynb)

### Machine Learning Crash Course
These are a few of the notebooks from Google's online Machine Learning course. See the [full course website](https://developers.google.com/machine-learning/crash-course/) for more.
- [Intro to Pandas](/notebooks/mlcc/intro_to_pandas.ipynb)
- [Tensorflow concepts](/notebooks/mlcc/tensorflow_programming_concepts.ipynb)
- [First steps with TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)
- [Intro to neural nets](/notebooks/mlcc/intro_to_neural_nets.ipynb)
- [Intro to sparse data and embeddings](/notebooks/mlcc/intro_to_sparse_data_and_embeddings.ipynb)

### Using Accelerated Hardware
- [TensorFlow with GPUs](/notebooks/gpu.ipynb)
- [TensorFlow with TPUs](/notebooks/tpu.ipynb)

## Machine Learning Examples: Seedbank

To see end-to-end examples of the interactive machine learning analyses that Colaboratory makes possible, check out the [Seedbank](https://research.google.com/seedbank/) project.

A few featured examples:

- [Neural Style Transfer](https://research.google.com/seedbank/seed/neural_style_transfer_with_tfkeras): Use deep learning to transfer style between images.
- [EZ NSynth](https://research.google.com/seedbank/seed/ez_nsynth): Synthesize audio with WaveNet auto-encoders.
- [Fashion MNIST with Keras and TPUs](https://research.google.com/seedbank/seed/fashion_mnist_with_keras_and_tpus): Classify fashion-related images with deep learning.
- [DeepDream](https://research.google.com/seedbank/seed/deepdream): Produce DeepDream images from your own photos.
- [Convolutional VAE](https://research.google.com/seedbank/seed/convolutional_vae): Create a generative model of handwritten digits.

In [0]:
import pandas as pd
from google.colab import files

In [27]:
uploaded = files.upload()

Saving test.csv to test (6).csv

In [28]:
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

User uploaded file "test.csv" with length 28629 bytes

In [29]:
uploaded

{'test.csv': b'PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked\r\n892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,,Q\r\n893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,,S\r\n894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,,Q\r\n895,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,,S\r\n896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,,S\r\n897,3,"Svensson, Mr. Johan Cervin",male,14,0,0,7538,9.225,,S\r\n898,3,"Connolly, Miss. Kate",female,30,0,0,330972,7.6292,,Q\r\n899,2,"Caldwell, Mr. Albert Francis",male,26,1,1,248738,29,,S\r\n900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18,0,0,2657,7.2292,,C\r\n901,3,"Davies, Mr. John Samuel",male,21,2,0,A/4 48871,24.15,,S\r\n902,3,"Ilieff, Mr. Ylio",male,,0,0,349220,7.8958,,S\r\n903,1,"Jones, Mr. Charles Cresson",male,46,0,0,694,26,,S\r\n904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23,1,0,21228,82.2667,B45,S\r\n905,2,"Howard, Mr. Benjamin",male,63,1,0,24065,26,,S\r\n906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)",female,47,1,0,W.E.P. 5734,61.175,E31,S\r\n907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24,1,0,SC/PARIS 2167,27.7208,,C\r\n908,2,"Keane, Mr. Daniel",male,35,0,0,233734,12.35,,Q\r\n909,3,"Assaf, Mr. Gerios",male,21,0,0,2692,7.225,,C\r\n910,3,"Ilmakangas, Miss. Ida Livija",female,27,1,0,STON/O2. 3101270,7.925,,S\r\n911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45,0,0,2696,7.225,,C\r\n912,1,"Rothschild, Mr. Martin",male,55,1,0,PC 17603,59.4,,C\r\n913,3,"Olsen, Master. Artur Karl",male,9,0,1,C 17368,3.1708,,S\r\n914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,,0,0,PC 17598,31.6833,,S\r\n915,1,"Williams, Mr. Richard Norris II",male,21,0,1,PC 17597,61.3792,,C\r\n916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48,1,3,PC 17608,262.375,B57 B59 B63 B66,C\r\n917,3,"Robins, Mr. Alexander A",male,50,1,0,A/5. 3337,14.5,,S\r\n918,1,"Ostby, Miss. Helene Ragnhild",female,22,0,1,113509,61.9792,B36,C\r\n919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.225,,C\r\n920,1,"Brady, Mr. John Bertram",male,41,0,0,113054,30.5,A21,S\r\n921,3,"Samaan, Mr. Elias",male,,2,0,2662,21.6792,,C\r\n922,2,"Louch, Mr. Charles Alexander",male,50,1,0,SC/AH 3085,26,,S\r\n923,2,"Jefferys, Mr. Clifford Thomas",male,24,2,0,C.A. 31029,31.5,,S\r\n924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33,1,2,C.A. 2315,20.575,,S\r\n925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,,1,2,W./C. 6607,23.45,,S\r\n926,1,"Mock, Mr. Philipp Edmund",male,30,1,0,13236,57.75,C78,C\r\n927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.5,0,0,2682,7.2292,,C\r\n928,3,"Roth, Miss. Sarah A",female,,0,0,342712,8.05,,S\r\n929,3,"Cacic, Miss. Manda",female,21,0,0,315087,8.6625,,S\r\n930,3,"Sap, Mr. Julius",male,25,0,0,345768,9.5,,S\r\n931,3,"Hee, Mr. Ling",male,,0,0,1601,56.4958,,S\r\n932,3,"Karun, Mr. Franz",male,39,0,1,349256,13.4167,,C\r\n933,1,"Franklin, Mr. Thomas Parham",male,,0,0,113778,26.55,D34,S\r\n934,3,"Goldsmith, Mr. Nathan",male,41,0,0,SOTON/O.Q. 3101263,7.85,,S\r\n935,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30,0,0,237249,13,,S\r\n936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45,1,0,11753,52.5542,D19,S\r\n937,3,"Peltomaki, Mr. Nikolai Johannes",male,25,0,0,STON/O 2. 3101291,7.925,,S\r\n938,1,"Chevre, Mr. Paul Romaine",male,45,0,0,PC 17594,29.7,A9,C\r\n939,3,"Shaughnessy, Mr. Patrick",male,,0,0,370374,7.75,,Q\r\n940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60,0,0,11813,76.2917,D15,C\r\n941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36,0,2,C.A. 37671,15.9,,S\r\n942,1,"Smith, Mr. Lucien Philip",male,24,1,0,13695,60,C31,S\r\n943,2,"Pulbaum, Mr. Franz",male,27,0,0,SC/PARIS 2168,15.0333,,C\r\n944,2,"Hocking, Miss. Ellen Nellie""""",female,20,2,1,29105,23,,S\r\n945,1,"Fortune, Miss. Ethel Flora",female,28,3,2,19950,263,C23 C25 C27,S\r\n946,2,"Mangiavacchi, Mr. Serafino Emilio",male,,0,0,SC/A.3 2861,15.5792,,C\r\n947,3,"Rice, Master. Albert",male,10,4,1,382652,29.125,,Q\r\n948,3,"Cor, Mr. Bartol",male,35,0,0,349230,7.8958,,S\r\n949,3,"Abelseth, Mr. Olaus Jorgensen",male,25,0,0,348122,7.65,F G63,S\r\n950,3,"Davison, Mr. Thomas Henry",male,,1,0,386525,16.1,,S\r\n951,1,"Chaudanson, Miss. Victorine",female,36,0,0,PC 17608,262.375,B61,C\r\n952,3,"Dika, Mr. Mirko",male,17,0,0,349232,7.8958,,S\r\n953,2,"McCrae, Mr. Arthur Gordon",male,32,0,0,237216,13.5,,S\r\n954,3,"Bjorklund, Mr. Ernst Herbert",male,18,0,0,347090,7.75,,S\r\n955,3,"Bradley, Miss. Bridget Delia",female,22,0,0,334914,7.725,,Q\r\n956,1,"Ryerson, Master. John Borie",male,13,2,2,PC 17608,262.375,B57 B59 B63 B66,C\r\n957,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)",female,,0,0,F.C.C. 13534,21,,S\r\n958,3,"Burns, Miss. Mary Delia",female,18,0,0,330963,7.8792,,Q\r\n959,1,"Moore, Mr. Clarence Bloomfield",male,47,0,0,113796,42.4,,S\r\n960,1,"Tucker, Mr. Gilbert Milligan Jr",male,31,0,0,2543,28.5375,C53,C\r\n961,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60,1,4,19950,263,C23 C25 C27,S\r\n962,3,"Mulvihill, Miss. Bertha E",female,24,0,0,382653,7.75,,Q\r\n963,3,"Minkoff, Mr. Lazar",male,21,0,0,349211,7.8958,,S\r\n964,3,"Nieminen, Miss. Manta Josefina",female,29,0,0,3101297,7.925,,S\r\n965,1,"Ovies y Rodriguez, Mr. Servando",male,28.5,0,0,PC 17562,27.7208,D43,C\r\n966,1,"Geiger, Miss. Amalie",female,35,0,0,113503,211.5,C130,C\r\n967,1,"Keeping, Mr. Edwin",male,32.5,0,0,113503,211.5,C132,C\r\n968,3,"Miles, Mr. Frank",male,,0,0,359306,8.05,,S\r\n969,1,"Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)",female,55,2,0,11770,25.7,C101,S\r\n970,2,"Aldworth, Mr. Charles Augustus",male,30,0,0,248744,13,,S\r\n971,3,"Doyle, Miss. Elizabeth",female,24,0,0,368702,7.75,,Q\r\n972,3,"Boulos, Master. Akar",male,6,1,1,2678,15.2458,,C\r\n973,1,"Straus, Mr. Isidor",male,67,1,0,PC 17483,221.7792,C55 C57,S\r\n974,1,"Case, Mr. Howard Brown",male,49,0,0,19924,26,,S\r\n975,3,"Demetri, Mr. Marinko",male,,0,0,349238,7.8958,,S\r\n976,2,"Lamb, Mr. John Joseph",male,,0,0,240261,10.7083,,Q\r\n977,3,"Khalil, Mr. Betros",male,,1,0,2660,14.4542,,C\r\n978,3,"Barry, Miss. Julia",female,27,0,0,330844,7.8792,,Q\r\n979,3,"Badman, Miss. Emily Louisa",female,18,0,0,A/4 31416,8.05,,S\r\n980,3,"O\'Donoghue, Ms. Bridget",female,,0,0,364856,7.75,,Q\r\n981,2,"Wells, Master. Ralph Lester",male,2,1,1,29103,23,,S\r\n982,3,"Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judith Andersson)",female,22,1,0,347072,13.9,,S\r\n983,3,"Pedersen, Mr. Olaf",male,,0,0,345498,7.775,,S\r\n984,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27,1,2,F.C. 12750,52,B71,S\r\n985,3,"Guest, Mr. Robert",male,,0,0,376563,8.05,,S\r\n986,1,"Birnbaum, Mr. Jakob",male,25,0,0,13905,26,,C\r\n987,3,"Tenglin, Mr. Gunnar Isidor",male,25,0,0,350033,7.7958,,S\r\n988,1,"Cavendish, Mrs. Tyrell William (Julia Florence Siegel)",female,76,1,0,19877,78.85,C46,S\r\n989,3,"Makinen, Mr. Kalle Edvard",male,29,0,0,STON/O 2. 3101268,7.925,,S\r\n990,3,"Braf, Miss. Elin Ester Maria",female,20,0,0,347471,7.8542,,S\r\n991,3,"Nancarrow, Mr. William Henry",male,33,0,0,A./5. 3338,8.05,,S\r\n992,1,"Stengel, Mrs. Charles Emil Henry (Annie May Morris)",female,43,1,0,11778,55.4417,C116,C\r\n993,2,"Weisz, Mr. Leopold",male,27,1,0,228414,26,,S\r\n994,3,"Foley, Mr. William",male,,0,0,365235,7.75,,Q\r\n995,3,"Johansson Palmquist, Mr. Oskar Leander",male,26,0,0,347070,7.775,,S\r\n996,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16,1,1,2625,8.5167,,C\r\n997,3,"Holthen, Mr. Johan Martin",male,28,0,0,C 4001,22.525,,S\r\n998,3,"Buckley, Mr. Daniel",male,21,0,0,330920,7.8208,,Q\r\n999,3,"Ryan, Mr. Edward",male,,0,0,383162,7.75,,Q\r\n1000,3,"Willer, Mr. Aaron (Abi Weller"")""",male,,0,0,3410,8.7125,,S\r\n1001,2,"Swane, Mr. George",male,18.5,0,0,248734,13,F,S\r\n1002,2,"Stanton, Mr. Samuel Ward",male,41,0,0,237734,15.0458,,C\r\n1003,3,"Shine, Miss. Ellen Natalia",female,,0,0,330968,7.7792,,Q\r\n1004,1,"Evans, Miss. Edith Corse",female,36,0,0,PC 17531,31.6792,A29,C\r\n1005,3,"Buckley, Miss. Katherine",female,18.5,0,0,329944,7.2833,,Q\r\n1006,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63,1,0,PC 17483,221.7792,C55 C57,S\r\n1007,3,"Chronopoulos, Mr. Demetrios",male,18,1,0,2680,14.4542,,C\r\n1008,3,"Thomas, Mr. John",male,,0,0,2681,6.4375,,C\r\n1009,3,"Sandstrom, Miss. Beatrice Irene",female,1,1,1,PP 9549,16.7,G6,S\r\n1010,1,"Beattie, Mr. Thomson",male,36,0,0,13050,75.2417,C6,C\r\n1011,2,"Chapman, Mrs. John Henry (Sara Elizabeth Lawry)",female,29,1,0,SC/AH 29037,26,,S\r\n1012,2,"Watt, Miss. Bertha J",female,12,0,0,C.A. 33595,15.75,,S\r\n1013,3,"Kiernan, Mr. John",male,,1,0,367227,7.75,,Q\r\n1014,1,"Schabert, Mrs. Paul (Emma Mock)",female,35,1,0,13236,57.75,C28,C\r\n1015,3,"Carver, Mr. Alfred John",male,28,0,0,392095,7.25,,S\r\n1016,3,"Kennedy, Mr. John",male,,0,0,368783,7.75,,Q\r\n1017,3,"Cribb, Miss. Laura Alice",female,17,0,1,371362,16.1,,S\r\n1018,3,"Brobeck, Mr. Karl Rudolf",male,22,0,0,350045,7.7958,,S\r\n1019,3,"McCoy, Miss. Alicia",female,,2,0,367226,23.25,,Q\r\n1020,2,"Bowenur, Mr. Solomon",male,42,0,0,211535,13,,S\r\n1021,3,"Petersen, Mr. Marius",male,24,0,0,342441,8.05,,S\r\n1022,3,"Spinner, Mr. Henry John",male,32,0,0,STON/OQ. 369943,8.05,,S\r\n1023,1,"Gracie, Col. Archibald IV",male,53,0,0,113780,28.5,C51,C\r\n1024,3,"Lefebre, Mrs. Frank (Frances)",female,,0,4,4133,25.4667,,S\r\n1025,3,"Thomas, Mr. Charles P",male,,1,0,2621,6.4375,,C\r\n1026,3,"Dintcheff, Mr. Valtcho",male,43,0,0,349226,7.8958,,S\r\n1027,3,"Carlsson, Mr. Carl Robert",male,24,0,0,350409,7.8542,,S\r\n1028,3,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,,C\r\n1029,2,"Schmidt, Mr. August",male,26,0,0,248659,13,,S\r\n1030,3,"Drapkin, Miss. Jennie",female,23,0,0,SOTON/OQ 392083,8.05,,S\r\n1031,3,"Goodwin, Mr. Charles Frederick",male,40,1,6,CA 2144,46.9,,S\r\n1032,3,"Goodwin, Miss. Jessie Allis",female,10,5,2,CA 2144,46.9,,S\r\n1033,1,"Daniels, Miss. Sarah",female,33,0,0,113781,151.55,,S\r\n1034,1,"Ryerson, Mr. Arthur Larned",male,61,1,3,PC 17608,262.375,B57 B59 B63 B66,C\r\n1035,2,"Beauchamp, Mr. Henry James",male,28,0,0,244358,26,,S\r\n1036,1,"Lindeberg-Lind, Mr. Erik Gustaf (Mr Edward Lingrey"")""",male,42,0,0,17475,26.55,,S\r\n1037,3,"Vander Planke, Mr. Julius",male,31,3,0,345763,18,,S\r\n1038,1,"Hilliard, Mr. Herbert Henry",male,,0,0,17463,51.8625,E46,S\r\n1039,3,"Davies, Mr. Evan",male,22,0,0,SC/A4 23568,8.05,,S\r\n1040,1,"Crafton, Mr. John Bertram",male,,0,0,113791,26.55,,S\r\n1041,2,"Lahtinen, Rev. William",male,30,1,1,250651,26,,S\r\n1042,1,"Earnshaw, Mrs. Boulton (Olive Potter)",female,23,0,1,11767,83.1583,C54,C\r\n1043,3,"Matinoff, Mr. Nicola",male,,0,0,349255,7.8958,,C\r\n1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,,,S\r\n1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36,0,2,350405,12.1833,,S\r\n1046,3,"Asplund, Master. Filip Oscar",male,13,4,2,347077,31.3875,,S\r\n1047,3,"Duquemin, Mr. Joseph",male,24,0,0,S.O./P.P. 752,7.55,,S\r\n1048,1,"Bird, Miss. Ellen",female,29,0,0,PC 17483,221.7792,C97,S\r\n1049,3,"Lundin, Miss. Olga Elida",female,23,0,0,347469,7.8542,,S\r\n1050,1,"Borebank, Mr. John James",male,42,0,0,110489,26.55,D22,S\r\n1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26,0,2,SOTON/O.Q. 3101315,13.775,,S\r\n1052,3,"Smyth, Miss. Julia",female,,0,0,335432,7.7333,,Q\r\n1053,3,"Touma, Master. Georges Youssef",male,7,1,1,2650,15.2458,,C\r\n1054,2,"Wright, Miss. Marion",female,26,0,0,220844,13.5,,S\r\n1055,3,"Pearce, Mr. Ernest",male,,0,0,343271,7,,S\r\n1056,2,"Peruschitz, Rev. Joseph Maria",male,41,0,0,237393,13,,S\r\n1057,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26,1,1,315153,22.025,,S\r\n1058,1,"Brandeis, Mr. Emil",male,48,0,0,PC 17591,50.4958,B10,C\r\n1059,3,"Ford, Mr. Edward Watson",male,18,2,2,W./C. 6608,34.375,,S\r\n1060,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)",female,,0,0,17770,27.7208,,C\r\n1061,3,"Hellstrom, Miss. Hilda Maria",female,22,0,0,7548,8.9625,,S\r\n1062,3,"Lithman, Mr. Simon",male,,0,0,S.O./P.P. 251,7.55,,S\r\n1063,3,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,,C\r\n1064,3,"Dyker, Mr. Adolf Fredrik",male,23,1,0,347072,13.9,,S\r\n1065,3,"Torfa, Mr. Assad",male,,0,0,2673,7.2292,,C\r\n1066,3,"Asplund, Mr. Carl Oscar Vilhelm Gustafsson",male,40,1,5,347077,31.3875,,S\r\n1067,2,"Brown, Miss. Edith Eileen",female,15,0,2,29750,39,,S\r\n1068,2,"Sincock, Miss. Maude",female,20,0,0,C.A. 33112,36.75,,S\r\n1069,1,"Stengel, Mr. Charles Emil Henry",male,54,1,0,11778,55.4417,C116,C\r\n1070,2,"Becker, Mrs. Allen Oliver (Nellie E Baumgardner)",female,36,0,3,230136,39,F4,S\r\n1071,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ingersoll)",female,64,0,2,PC 17756,83.1583,E45,C\r\n1072,2,"McCrie, Mr. James Matthew",male,30,0,0,233478,13,,S\r\n1073,1,"Compton, Mr. Alexander Taylor Jr",male,37,1,1,PC 17756,83.1583,E52,C\r\n1074,1,"Marvin, Mrs. Daniel Warner (Mary Graham Carmichael Farquarson)",female,18,1,0,113773,53.1,D30,S\r\n1075,3,"Lane, Mr. Patrick",male,,0,0,7935,7.75,,Q\r\n1076,1,"Douglas, Mrs. Frederick Charles (Mary Helene Baxter)",female,27,1,1,PC 17558,247.5208,B58 B60,C\r\n1077,2,"Maybery, Mr. Frank Hubert",male,40,0,0,239059,16,,S\r\n1078,2,"Phillips, Miss. Alice Frances Louisa",female,21,0,1,S.O./P.P. 2,21,,S\r\n1079,3,"Davies, Mr. Joseph",male,17,2,0,A/4 48873,8.05,,S\r\n1080,3,"Sage, Miss. Ada",female,,8,2,CA. 2343,69.55,,S\r\n1081,2,"Veal, Mr. James",male,40,0,0,28221,13,,S\r\n1082,2,"Angle, Mr. William A",male,34,1,0,226875,26,,S\r\n1083,1,"Salomon, Mr. Abraham L",male,,0,0,111163,26,,S\r\n1084,3,"van Billiard, Master. Walter John",male,11.5,1,1,A/5. 851,14.5,,S\r\n1085,2,"Lingane, Mr. John",male,61,0,0,235509,12.35,,Q\r\n1086,2,"Drew, Master. Marshall Brines",male,8,0,2,28220,32.5,,S\r\n1087,3,"Karlsson, Mr. Julius Konrad Eugen",male,33,0,0,347465,7.8542,,S\r\n1088,1,"Spedden, Master. Robert Douglas",male,6,0,2,16966,134.5,E34,C\r\n1089,3,"Nilsson, Miss. Berta Olivia",female,18,0,0,347066,7.775,,S\r\n1090,2,"Baimbrigge, Mr. Charles Robert",male,23,0,0,C.A. 31030,10.5,,S\r\n1091,3,"Rasmussen, Mrs. (Lena Jacobsen Solvang)",female,,0,0,65305,8.1125,,S\r\n1092,3,"Murphy, Miss. Nora",female,,0,0,36568,15.5,,Q\r\n1093,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4,,S\r\n1094,1,"Astor, Col. John Jacob",male,47,1,0,PC 17757,227.525,C62 C64,C\r\n1095,2,"Quick, Miss. Winifred Vera",female,8,1,1,26360,26,,S\r\n1096,2,"Andrew, Mr. Frank Thomas",male,25,0,0,C.A. 34050,10.5,,S\r\n1097,1,"Omont, Mr. Alfred Fernand",male,,0,0,F.C. 12998,25.7417,,C\r\n1098,3,"McGowan, Miss. Katherine",female,35,0,0,9232,7.75,,Q\r\n1099,2,"Collett, Mr. Sidney C Stuart",male,24,0,0,28034,10.5,,S\r\n1100,1,"Rosenbaum, Miss. Edith Louise",female,33,0,0,PC 17613,27.7208,A11,C\r\n1101,3,"Delalic, Mr. Redjo",male,25,0,0,349250,7.8958,,S\r\n1102,3,"Andersen, Mr. Albert Karvin",male,32,0,0,C 4001,22.525,,S\r\n1103,3,"Finoli, Mr. Luigi",male,,0,0,SOTON/O.Q. 3101308,7.05,,S\r\n1104,2,"Deacon, Mr. Percy William",male,17,0,0,S.O.C. 14879,73.5,,S\r\n1105,2,"Howard, Mrs. Benjamin (Ellen Truelove Arman)",female,60,1,0,24065,26,,S\r\n1106,3,"Andersson, Miss. Ida Augusta Margareta",female,38,4,2,347091,7.775,,S\r\n1107,1,"Head, Mr. Christopher",male,42,0,0,113038,42.5,B11,S\r\n1108,3,"Mahon, Miss. Bridget Delia",female,,0,0,330924,7.8792,,Q\r\n1109,1,"Wick, Mr. George Dennick",male,57,1,1,36928,164.8667,,S\r\n1110,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50,1,1,113503,211.5,C80,C\r\n1111,3,"Thomson, Mr. Alexander Morrison",male,,0,0,32302,8.05,,S\r\n1112,2,"Duran y More, Miss. Florentina",female,30,1,0,SC/PARIS 2148,13.8583,,C\r\n1113,3,"Reynolds, Mr. Harold J",male,21,0,0,342684,8.05,,S\r\n1114,2,"Cook, Mrs. (Selena Rogers)",female,22,0,0,W./C. 14266,10.5,F33,S\r\n1115,3,"Karlsson, Mr. Einar Gervasius",male,21,0,0,350053,7.7958,,S\r\n1116,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53,0,0,PC 17606,27.4458,,C\r\n1117,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,,0,2,2661,15.2458,,C\r\n1118,3,"Asplund, Mr. Johan Charles",male,23,0,0,350054,7.7958,,S\r\n1119,3,"McNeill, Miss. Bridget",female,,0,0,370368,7.75,,Q\r\n1120,3,"Everett, Mr. Thomas James",male,40.5,0,0,C.A. 6212,15.1,,S\r\n1121,2,"Hocking, Mr. Samuel James Metcalfe",male,36,0,0,242963,13,,S\r\n1122,2,"Sweet, Mr. George Frederick",male,14,0,0,220845,65,,S\r\n1123,1,"Willard, Miss. Constance",female,21,0,0,113795,26.55,,S\r\n1124,3,"Wiklund, Mr. Karl Johan",male,21,1,0,3101266,6.4958,,S\r\n1125,3,"Linehan, Mr. Michael",male,,0,0,330971,7.8792,,Q\r\n1126,1,"Cumings, Mr. John Bradley",male,39,1,0,PC 17599,71.2833,C85,C\r\n1127,3,"Vendel, Mr. Olof Edvin",male,20,0,0,350416,7.8542,,S\r\n1128,1,"Warren, Mr. Frank Manley",male,64,1,0,110813,75.25,D37,C\r\n1129,3,"Baccos, Mr. Raffull",male,20,0,0,2679,7.225,,C\r\n1130,2,"Hiltunen, Miss. Marta",female,18,1,1,250650,13,,S\r\n1131,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48,1,0,PC 17761,106.425,C86,C\r\n1132,1,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55,0,0,112377,27.7208,,C\r\n1133,2,"Christy, Mrs. (Alice Frances)",female,45,0,2,237789,30,,S\r\n1134,1,"Spedden, Mr. Frederic Oakley",male,45,1,1,16966,134.5,E34,C\r\n1135,3,"Hyman, Mr. Abraham",male,,0,0,3470,7.8875,,S\r\n1136,3,"Johnston, Master. William Arthur Willie""""",male,,1,2,W./C. 6607,23.45,,S\r\n1137,1,"Kenyon, Mr. Frederick R",male,41,1,0,17464,51.8625,D21,S\r\n1138,2,"Karnes, Mrs. J Frank (Claire Bennett)",female,22,0,0,F.C.C. 13534,21,,S\r\n1139,2,"Drew, Mr. James Vivian",male,42,1,1,28220,32.5,,S\r\n1140,2,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29,1,0,26707,26,,S\r\n1141,3,"Khalil, Mrs. Betros (Zahie Maria"" Elias)""",female,,1,0,2660,14.4542,,C\r\n1142,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.75,,S\r\n1143,3,"Abrahamsson, Mr. Abraham August Johannes",male,20,0,0,SOTON/O2 3101284,7.925,,S\r\n1144,1,"Clark, Mr. Walter Miller",male,27,1,0,13508,136.7792,C89,C\r\n1145,3,"Salander, Mr. Karl Johan",male,24,0,0,7266,9.325,,S\r\n1146,3,"Wenzel, Mr. Linhart",male,32.5,0,0,345775,9.5,,S\r\n1147,3,"MacKay, Mr. George William",male,,0,0,C.A. 42795,7.55,,S\r\n1148,3,"Mahon, Mr. John",male,,0,0,AQ/4 3130,7.75,,Q\r\n1149,3,"Niklasson, Mr. Samuel",male,28,0,0,363611,8.05,,S\r\n1150,2,"Bentham, Miss. Lilian W",female,19,0,0,28404,13,,S\r\n1151,3,"Midtsjo, Mr. Karl Albert",male,21,0,0,345501,7.775,,S\r\n1152,3,"de Messemaeker, Mr. Guillaume Joseph",male,36.5,1,0,345572,17.4,,S\r\n1153,3,"Nilsson, Mr. August Ferdinand",male,21,0,0,350410,7.8542,,S\r\n1154,2,"Wells, Mrs. Arthur Henry (Addie"" Dart Trevaskis)""",female,29,0,2,29103,23,,S\r\n1155,3,"Klasen, Miss. Gertrud Emilia",female,1,1,1,350405,12.1833,,S\r\n1156,2,"Portaluppi, Mr. Emilio Ilario Giuseppe",male,30,0,0,C.A. 34644,12.7375,,C\r\n1157,3,"Lyntakoff, Mr. Stanko",male,,0,0,349235,7.8958,,S\r\n1158,1,"Chisholm, Mr. Roderick Robert Crispin",male,,0,0,112051,0,,S\r\n1159,3,"Warren, Mr. Charles William",male,,0,0,C.A. 49867,7.55,,S\r\n1160,3,"Howard, Miss. May Elizabeth",female,,0,0,A. 2. 39186,8.05,,S\r\n1161,3,"Pokrnic, Mr. Mate",male,17,0,0,315095,8.6625,,S\r\n1162,1,"McCaffry, Mr. Thomas Francis",male,46,0,0,13050,75.2417,C6,C\r\n1163,3,"Fox, Mr. Patrick",male,,0,0,368573,7.75,,Q\r\n1164,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",female,26,1,0,13508,136.7792,C89,C\r\n1165,3,"Lennon, Miss. Mary",female,,1,0,370371,15.5,,Q\r\n1166,3,"Saade, Mr. Jean Nassr",male,,0,0,2676,7.225,,C\r\n1167,2,"Bryhl, Miss. Dagmar Jenny Ingeborg ",female,20,1,0,236853,26,,S\r\n1168,2,"Parker, Mr. Clifford Richard",male,28,0,0,SC 14888,10.5,,S\r\n1169,2,"Faunthorpe, Mr. Harry",male,40,1,0,2926,26,,S\r\n1170,2,"Ware, Mr. John James",male,30,1,0,CA 31352,21,,S\r\n1171,2,"Oxenham, Mr. Percy Thomas",male,22,0,0,W./C. 14260,10.5,,S\r\n1172,3,"Oreskovic, Miss. Jelka",female,23,0,0,315085,8.6625,,S\r\n1173,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.775,,S\r\n1174,3,"Fleming, Miss. Honora",female,,0,0,364859,7.75,,Q\r\n1175,3,"Touma, Miss. Maria Youssef",female,9,1,1,2650,15.24

In [0]:
import io

In [0]:
df = pd.read_csv(io.StringIO(uploaded['test.csv'].decode('utf-8')))
df

In [51]:
print (uploaded['test.csv'][:100].decode('utf-8') + '...')

PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
892,3,"Kelly, Mr. James",mal...

In [58]:
df.head(n = 10)

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S
5          897       3  ...   NaN        S
6          898       3  ...   NaN        Q
7          899       2  ...   NaN        S
8          900       3  ...   NaN        C
9          901       3  ...   NaN        S

[10 rows x 11 columns]

In [63]:
df["Name"].apply(lambda x: x[:3])

0      Kel
1      Wil
2      Myl
3      Wir
4      Hir
5      Sve
6      Con
7      Cal
8      Abr
9      Dav
10     Ili
11     Jon
12     Sny
13     How
14     Cha
15     del
16     Kea
17     Ass
18     Ilm
19     Ass
20     Rot
21     Ols
22     Fle
23     Wil
24     Rye
25     Rob
26     Ost
27     Dah
28     Bra
29     Sam
      ...
388    Can
389    Pal
390    Pay
391    Lin
392    Abb
393    Gil
394    Kin
395    Smi
396    Col
397    Fro
398    Lar
399    Con
400    Bon
401    Gal
402    Gib
403    Car
404    Fra
405    Nou
406    War
407    Wid
408    Rio
409    Pea
410    Nau
411    Min
412    Hen
413    Spe
414    Oli
415    Sae
416    War
417    Pet
Name: Name, Length: 418, dtype: object